
.add {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.add p {
    margin: 10px 0;
}

.add input[type="text"],
.add input[type="number"],
.add input[type="date"],
.add button[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style search bar */
.searchbar {
    position: absolute;
    top: 10px;
    right: 10px;
}
