h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkcyan;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: cadetblue;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: orangered;
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: tomato;
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }

  body {
    font-size: 16px;
    margin: 0;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 18rem; 
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-container h1 {
  color: #007bff;
  text-align: center;
  
}

.about-container p {
  line-height: 1.6;
  color: white;
  text-align: center;

}

/* Style for the search form */
.searchbar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  background: transparent;
}

/* Style for the input field */
#keyword {
  border: 1px solid #ccc; 
  padding: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
}

/* Style for the submit button */
button {
  padding: 6px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the label */
label {
  color: white;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.register {
  text-align: center;
  font-size: 40px;

}

.registerform {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: 15vh;
  background: transparent;
  text-align: center;
 }

 form input[type="text"] {
  background: transparent;
  border: 1px solid #ccc; 
  color: #ffffff; 
}

ul {
  color: white;
}

.add {
  color: white;
}

.header1 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* menu drop down */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* Style for the search form */
.searchbar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  background: transparent;
}

.dropdown {
  position: fixed;
  top: 60px; 
  right: 60px;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #333;
  margin-bottom: 5px;
}